<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backbone Sample App</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
    <!-- Load the script "js/main.js" as our entry point -->
    <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/libs/require/require.js"></script>
  </head>
   <body>

     <div class="container">
     <h1>My First Backbone App</h1>
     <hr />
     <div id="searchSection" align="right"></div>
     <div class="page"></div>
     </div>

   </body>
</html>